{% extends "blog/base.html" %}
{% block content %}   
<div class = "display"><p>{{ result | safe }}</p></div>
<div class="jumbotron">
    <h4 style="text-align:center"> Try logging in</h4>
    <div class="login">
        <form method="post" action="{% url 'nosql' %}">
            <input id="input" type="text" name="user" placeholder="User Name"><br>
            <input id="input" type="password" name="pass" placeholder="Password"><br>
            <button style="margin-top:20px" class="btn btn-info" type="submit"> Log in</button>
        </form>
    </div>
</div>

{% endblock content %}