{% extends "blog/base.html" %}
{% block content %}   
<div class = "display"><p>{{ result | safe }}</p></div>
<div class="jumbotron">
    <h4 style="text-align:center"> Change "your" password</h4>
    <div class="login">
        <form method="post" action="{% url 'password-reset' %}">
            <input id="input" type="text" name="user" placeholder="User Name"><br>
            <input id="input" type="" name="cpass" placeholder="Current Password"><br>
            <input id="input" type="" name="npass" placeholder="New Password"><br>
            <button style="margin-top:20px" class="btn btn-info" type="submit"> Submit </button>
        </form>
    </div>
</div>

{% endblock content %}