{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="jumbotron">
        <h4 style="text-align:center"> Enter image url to fetch </h4>
        <div class="login">    
            <form method="post" action="{% url 'ssrf' %}">
                <input id="input" name="imgUrl" placeholder="htt://example.com/image.png"><br>
                <button style="margin-top:20px" class="btn btn-info" type="submit"> Fetch </button>
            </form>
        </div>
    </div>

    <div class="display">
        <p>{{ response | safe }}</p>
    </div>
{% endblock content %}