{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="get" action="{% url 'search_users' %}">
    <label for="search"><b>USER NAME: <b></label>
    <input id="search" type="text" name="q" placeholder="username..">
    <button class="btn btn-info" type="submit">
        Find
    </button>
</form>

<div class="display">
    {% if user_searched %}
    <h3>Search : <i>{{user_searched}}</i></h3>
    <h3>First Name : <i>{{firstname}}</i></h3>
    <h3>Last Name : <i>{{lastname}}</i></h3>
    {% else %}
    <h3> The user '{{query | safe}}' You searched for is not Part of Organization</h3>
    {% endif %}
</div>
{% endblock content %}